html {
  scroll-behavior: smooth;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: #fffbf5;
}

.first-section {
  background-color: #5e548e;
  height: 45vh;
  width: auto;
}
.pad1 {
  padding: 30px;
}
/************NAVIGATION BARR*************/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h2 {
  margin-left: 10px;
  font-size: 40px;
  color: #f7efe5;
  border: 3px solid #f7efe5;
  border-radius: 13px;
  padding: 11px 6px;
}
.logo span {
  color: #5e548e;
  background-color: #f7efe5;
  border-radius: 10px;
  padding: 5px 11px;
}
nav ul {
  display: flex;
  width: auto;
  justify-content: right;
  align-items: right;
  margin-right: 10px;
}
nav ul li {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  font-size: 13px;
}
nav ul li a {
  display: block;
  text-align: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
  color: #fbfacd;
  font-weight: 300;
  font-size: 15px;
  opacity: 0.8;
}
nav ul li a:hover {
  color: wheat;
  text-decoration: underline;
  opacity: 0.7;
}
nav ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
}
nav ul li ul.dropdown li {
  display: block;
}
nav ul li ul.dropdown li .drop {
  text-decoration: none;
  background-color: #f7efe5;
  color: #5e548e;
  padding: 8px 10px;
}
nav ul li:hover ul.dropdown {
  display: block;
}
/************FIRST SECTIONNN*************/
.mark-pic {
  display: block;
  width: 400;
  border-radius: 20px;
  float: left;
  margin-right: 30px;
}
.image-description-mark {
  margin: 20px auto;
  width: 85%;
}
.mark-contents {
  display: block;
  margin-top: 70px;
  margin-left: 30px;
}
.mark-contents h2 {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  font-weight: 900;
  color: #f7efe5;
  padding-top: 30px;
  padding-bottom: 40px;
  letter-spacing: 1.5px;
}
.mark-contents span {
  font-family: "Oswald", sans-serif;
}
.mark-contents p {
  text-align: justify;
  padding-bottom: 20px;
  line-height: 25px;
}
.btn {
  display: block;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  padding: 6px 30px;
  font-size: 20px;
  border: 3px solid #5e548e;
  background-color: #5e548e;
  color: #f7efe5;
  border-radius: 17px;
  cursor: pointer;
}
.mark-contents a {
  text-decoration: none;
}
.btn:hover {
  border: 3px solid #5e548e;
  background-color: #fffbf5;
  color: #5e548e;
}

/************SECOND SECTIONNN*************/
.almera-pic {
  display: block;
  width: 400;
  border-radius: 20px;
  float: left;
  margin-right: 30px;
  border: 0px;
}
.image-description-almera {
  display: flex;
  width: 85%;
  margin: 20px auto;
  margin-top: 330px;
}
.almera-contents {
  float: left;
  margin-top: 45px;
  margin-left: 20px;
  padding-right: 30px;
}
.almera-contents h2 {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  font-weight: 900;
  color: #5e548e;
  padding-bottom: 15px;
  letter-spacing: 1.5px;
}
.almera-contents span {
  color: #5e548e;
  font-family: "Oswald", sans-serif;
}
.almera-contents p {
  text-align: justify;
  padding-bottom: 20px;
  line-height: 25px;
}
.almera-pic {
  width: 400;
  border-radius: 20px;
}
.btn-almera {
  display: block;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  padding: 6px 30px;
  font-size: 20px;
  border: 3px solid #5e548e;
  background-color: #5e548e;
  color: #f7efe5;
  border-radius: 17px;
  cursor: pointer;
}
.btn-almera:hover {
  border: 3px solid #5e548e;
  background-color: #fffbf5;
  color: #5e548e;
}
.almera-contents a {
  text-decoration: none;
}
/************CONTACT CONTAINER*************/
.contact-container {
  background-color: #5e548e;
  height: 70vh;
  margin-top: 100px;
}
.contact-container h3 {
  text-align: center;
  color: #f7efe5;
  font-family: "Fira Sans", sans-serif;
  font-size: 60px;
  padding-top: 30px;
}
.contact-container hr {
  width: 20%;
  display: block;
  margin: 2px auto;
  color: #f7efe5;
}
.left-container {
  width: 45%;
  float: left;
  margin: 20px 20px;
  margin-left: 25px;
}
.left-contents {
  text-align: center;
  margin-top: 60px;
}
.left-contents h2 {
  font-size: 45px;
  color: #f7efe5;
  font-family: "Fira Sans", sans-serif;
}
.left-contents p {
  color: white;
  text-align: justify;
  margin: 20px 70px;
  line-height: 7mm;
}
.left-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-list ul li {
  display: inline-block;
  list-style-type: none;
  padding-right: 40px;
  margin-top: 10px;
}
.left-list ul li a {
  color: #fbfacd;
}
.left-list ul li a:hover {
  opacity: 0.7;
}
.left-list ul li a i {
  font-size: 30px;
}
.right-container {
  width: 45%;
  float: right;
  margin: 20px 20px;
  margin-right: 25px;
}
.right-contents {
  text-align: center;
  margin-top: 60px;
}
.right-contents h2 {
  font-size: 45px;
  color: #f7efe5;
  font-family: "Fira Sans", sans-serif;
}
.right-contents p {
  color: white;
  text-align: justify;
  margin: 20px 70px;
  line-height: 7mm;
}
.right-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-list ul li {
  display: inline-block;
  list-style-type: none;
  padding-right: 40px;
  margin-top: 10px;
}
.right-list ul li a {
  color: #fbfacd;
}
.right-list ul li a:hover {
  opacity: 0.7;
}
.right-list ul li a i {
  font-size: 30px;
}
